* {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.block {
  height: 80vh;
  display: inline-flex;
  text-align: center;
}

#content {
  width: 70vw;
  background-color: blueviolet;
  float: left;
}

#footer {
  background-color: coral;
  width: 100vw;
  height: 10vh;
}

.container {
  display: inline-block;
}

#addProject {
  height: 5vh;
  width: 10vw;
  border: 2px black solid;
  background-color: darksalmon;
}
