* {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.block {
  display: inline-flex;
}

#content {
  width: 70vw;
  height: 80vh;
  background-color: blueviolet;
  float: left;
}

#footer {
  background-color: coral;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
}

.container {
  display: inline-block;
}

.projects {
  display: inline-flexbox;
}
