* {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.block {
  height: 80vh;
  display: inline-flex;
}

#content {
  width: 70vw;
  background-color: blueviolet;
  float: left;
}

#aside {
  width: 30vw;
  background-color: chartreuse;
  float: right;
}

#footer {
  background-color: coral;
  width: 100vw;
  height: 10vh;
}

.container {
  display: inline-block;
}
