#navbar {
  width: 100vw;
  height: 10vh;
  background-color: cornflowerblue;
}

#light_dark_theme_btn,
#login_btn {
  width: 10vw;
  height: 6vh;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: center;
  float: right;
  font-weight: bolder;
  font-size: large;
  background-color: antiquewhite;
  color: black;
}
