<div id="aside" class="block">
  <input id="name" type="text" placeholder="Nazwa projektu" /><br />
  <select id="color">
    <option selected disabled>Wybierz kolor tla</option>
    <option value="red">Czerwony</option>
    <option value="orange">Pomarańczowy</option>
    <option value="yellow">Żólty</option>
    <option value="green">Zielony</option>
    <option value="blue">Niebieski</option>
    <option value="indigo">Indygo</option>
    <option value="purple">Fioletowy</option></select
  ><br />
  Wybierz date deadline'u <input type="date" id="date" /><br />
  <textarea
    id="description"
    placeholder="Opis projektu"
    rows="15"
    cols="40"
  ></textarea
  ><br />
  <button id="addProject" (click)="onAddProject()">Dodaj projekt</button>
</div>
